[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "common_utils"]
	path = external/common_utils
	url = https://github.com/texturawasd/common_utils
